AUTH_SECRET=""
AUTH_TRUST_HOST=""

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

GOOGLE_CLOUD_PROJECT_ID=""
GOOGLE_CLOUD_PRIVATE_KEY_ID=""
GOOGLE_CLOUD_CLIENT_KEY=""
GOOGLE_CLOUD_CLIENT_EMAIL=""
GOOGLE_CLOUD_CLIENT_ID=""

DATABASE_URL='postgresql://postgres:postgres@localhost:5432/supernova-tts'